.show{
    width: 35vw;
    height: 50vh;

    margin: auto;
}
.count{
 color: indigo;
 width: 10vw;
 margin: auto;
 line-height: 0;
 border-bottom: 2px solid greenyellow;
 font-size: 3.5rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    margin: 2em;
    background-color: transparent;
    border: 2px solid greenyellow;
    font-size: 1.5rem;
    padding: 0.5em;
    border-radius: 30%;
}
.nav{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 border: 1.5px solid rgba(247, 204, 185, 0.5);
 border-radius: 10em;
 margin-top: 0.3em;
 border-bottom: transparent;
}

.logo{
    flex-basis: 10vw;
    color: rgb(19, 18, 18);
    border-bottom: 3px solid rgba(247, 204, 185, 0.8);
    padding: 0.2em;
}

.nav-ul{
    flex-basis: 60vw;
}
.nav-ul li{
    list-style: none;
    display: inline-block;
    font-size: 1.7rem;
    margin-right: 1.8em;
    font-weight: 600;
    padding: 0.2em;
    border-bottom: 3px solid rgba(247, 204, 185, 0.8);;
}
.nav-ul li a{
    text-decoration: none;
   color: rgb(19, 18, 18);
}
.products{
    margin-top: 15em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pdt{
    margin: 2em;
    flex-basis: 22vw;
    background-color: rgba(247, 204, 185, 0.05);
    padding: 2em;
    
}
.pdt p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 2em;
}
.pdt h3{
    text-align: left;
}
.pdt-img{
    width:15vw ;
}
.link{
    margin:1.5em;
    background-color: rgba(247, 204, 185, 0.1);
    padding: 0.8em;
    text-decoration: none;
    color: gray;
    border-radius: 10em;
    border:1.5px solid rgba(247, 204, 185, 0.5);
    border-bottom:transparent;
}
.item-detail{
    background-color: salmon;
}
.detail-section{
    display: flex;
    justify-content: center;
    padding: 2em;
    width: 50vw;
    margin:5em auto;
   border:1.5px solid  rgba(247, 204, 185, 0.5);
   border-radius:10em;
   border-bottom: transparent;
}
.detail-img{
    flex-basis: 25vw;
}
.detail-item{
    flex-basis: 30vw;
    text-align: left;
    
}
.detail-item p{
    font-weight: bolder;
    font-size: 1.2rem;
}

.addtodo{

    margin: 5em;
}
.form {
font-weight: bolder;

}
.form h3{
    /* border-bottom: 2px solid greenyellow; */
    width: 15vw;
    margin: auto;
    margin-bottom: 1em;
    padding: 3em;
}
.title ,.content{
width: 30vw;
height: 5vh;
border: 1px solid greenyellow;
border-radius: 10%;
font-size: 1.5em;
}
.content{
 height: 10vh;
}
.text {
    width: 50vw;
    border-radius: 30%;
    border:1px solid greenyellow;
    background-color: rgba(247, 204, 185, 0.05);
    border-bottom: transparent;
    margin-bottom: 1em;
    margin: auto;
}
.text p{
    font-size:1.7rem ;
}
.form{
    width: 38%;
    margin: auto;
    margin-top: 5em;
}
.input{
    width: 27vw;
    height: 0.4vh;
    border-radius: 20px;
    padding: 1.5em;
    margin: 0.5em;
}
.btn-register{
    margin: auto;
    width: 10vw;
    height: 4.5vh;
    border-radius: 20px;
    margin-top: 1.5em;
    font-size: large;
    font-weight: 600;
}
.log-email{
    color: brown;
    font-size: 2rem;
    margin: 1em;
}
.log-input{
    width: 35vw;
    height: 4.5vh;
    display: block;
    margin: auto;
    border-radius: 20px;
}
.h-log{
    background-color: brown;
    height: 9vh;
    margin-top: 2em;
    color: white;
    padding: 1em;
    font-size: 2.5em;
}
.h-register{
    background-color: goldenrod;
    height: 9vh;
    margin-top: 2em;
    color: white;
    padding: 1em;
    font-size: 2.5em;
}
.field{
    border-radius: 20px;
    margin: 1.5em;
    width: 15vw;
    height: 2.5vh;
    padding: 1em;
}
.secondary{
    background-color: rgb(233, 14, 14);
    color: white;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 50%;
}